[Unit]
Description=supervisord_exporter
After=network.target

[Service]
User=vagrant
Group=vagrant
WorkingDirectory=/home/vagrant
EnvironmentFile=-/etc/sysconfig/supervisord_exporter
ExecStart=/home/vagrant/supervisord_exporter/supervisord_exporter $SUPERVISORD_EXPORTER_ARGS
Restart=always
RestartSec=10
Type=simple

[Install]
WantedBy=multi-user.target
